@import url('https://fonts.googleapis.com/css2?family=Mate+SC&family=Quicksand:wght@300&display=swap');
/* font-family: 'Mate SC', serif;
font-family: 'Quicksand', sans-serif; */

:root {
  --color-white: #ffffff;
  --color-grey: #707070;
  --color-darkblue: #1b1b32;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-green: #37af65;
}

* {
	border: 1px solid red;
}

html {
	font-size: 10px;
	box-sizing: border-box;
}

body {
	font-family: 'Quicksand', sans-serif;
	font-size: 2rem;
	/* color: var(--color-white); */
	line-height: 1.5;
	margin: 0;
}

h1 {
	font-size: 4rem;
	font-weight: 500;
	line-height: 1.2;
}

p {
	font-size: 2rem;
	font-weight: 300;
	font-style: italic;
}

h1, p {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

label {
	display: flex;
	align-items: center;
	font-size: 2rem;
	/* margin-bottom: 0.5rem; */
}

input, button,
select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 2rem;
}

button {
	border: none;
	border-radius: 0.5rem;
}

.container {
	width: 100%;
	max-width: 70rem;
	/* Make it responsive */
	margin: 3rem auto 0;
}

.header {
	padding: 0 1rem;
	margin-bottom: 2rem;
	text-align: center;
}

/* ----------------------------------------------FORM---------------------------------------------------- */

form {
	/* background-color: var(--color-darkblue-alpha); */
	padding: 2.5rem;
	border-radius: 0.5rem;
	font-weight: 600;
}

.form-element {
	margin: 0 auto 1rem;
	padding: 0.5rem;
}

.form-control {
	display: block;
	width: 100%;
	height: 2.5rem;
	padding: 0.25rem 0.75rem;
	color: var(--color-grey);
	/* background-color: var(--color-white);
	background-clip: padding-box; */
	border: 1px solid black;
	border-radius: 0.25rem;
}

.form-control:focus {
	border: 1px solid green;
	outline: 0;
}

.sizing {
	padding-right: 0;
}

#dropdown {
	height: 3.5rem;
}

.inline {
	display: inline-block;
}

.grid {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-gap: 1rem 0.5rem;
}

.input-radio, .input-checkbox {
	margin: 0.5rem;
	padding: 0.5rem 1rem;
}

#anime-rec {
	width: 100%;
	min-height: 15rem;
	padding: 0.5rem;
	resize: vertical;
}

.submit-button {
	display: block;
	width: 100%;
	padding: 0.75rem;
	color: var(--color-white);
	background-color: var(--color-green);
	cursor: pointer;
}
